/* Phone Rotate */
@media screen and (min-height: 416px) {
  #phone {
    display: none;
  }
}
@media screen and (max-height: 415px) {
  #root,
  #menu {
    display: none !important;
  }
  #phone {
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* ------------- */
/* Global */
.fp-tableCell {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
html {
  overflow: hidden !important;
}
body {
  font-family: arial, helvetica;
  background-color: rgb(30, 30, 30);
  color: #fff;
}
.section {
  background-color: rgb(30, 30, 30);
}
.code {
  font-family: "La Belle Aurore", cursive;
  color: rgb(150, 150, 150);
}
.no-code {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.grey {
  color: rgb(150, 150, 150);
}
.color {
  color: rgb(8, 253, 237);
}
pre {
  margin: 0.5em 0;
  line-height: 1em;
}
h1 {
  margin: 0;
}
.inline {
  display: inline;
}
/* ------------ */
/* Margins */
.ml-0 {
  margin-left: 0.75rem;
}
.ml-1 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 2.25rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 3.75rem;
}
.ml-5 {
  margin-left: 4.5rem;
}
@media screen and (min-width: 769px) {
  .ml-0 {
    margin-left: 1rem;
  }
  .ml-1 {
    margin-left: 2rem;
  }
  .ml-2 {
    margin-left: 3rem;
  }
  .ml-3 {
    margin-left: 4rem;
  }
  .ml-4 {
    margin-left: 5rem;
  }
  .ml-5 {
    margin-left: 6rem;
  }
}
/* ------------ */
/* Menu Static */
#menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: rgb(24, 24, 24);
  z-index: 1;
  padding: 0;
  margin: 0;
}
.nav-logo {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-items a {
  display: flex;
  text-align: center;
  color: rgb(150, 150, 150);
  text-decoration: none;
}
li {
  list-style: none;
}
li.active a i {
  color: rgb(8, 253, 237);
}
a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}
#logo-letters {
  text-shadow: 0.05rem 0 black, 0.2rem 0.2rem rgb(60, 250, 238);
}
#social a:hover {
  color: rgb(8, 253, 237);
}
.nav-items i,
.nav-items a {
  height: 2rem;
  width: 100%;
}
.nav-items a:hover i {
  display: none;
  color: rgb(8, 253, 237);
}
a:hover:before {
  transition: 0.3s ease-out;
  font-size: 0.75rem;
  content: attr(new-data);
  color: rgb(8, 253, 237);
  margin-top: 0.5rem;
}
/* ------------- */
/* Font Size Break-Points */
@media screen and (min-height: 0px) and (min-width: 0px) {
  .section {
    font-size: 1rem;
    transition: font-size 0.5s;
  }
}
@media screen and (min-height: 600px) and (min-width: 530px) {
  .section {
    font-size: 1.25rem;
    transition: font-size 0.5s;
  }
}
@media screen and (min-height: 810px) and (min-width: 610px) {
  .section {
    font-size: 1.5rem;
    transition: font-size 0.5s;
  }
}
@media screen and (min-height: 810px) and (min-width: 1200px) {
  .section {
    font-size: 1.75rem;
    transition: font-size 0.5s;
  }
}
/* ------------ */
/* Home */
.contact-button {
  display: inline-block;
  color: rgb(8, 253, 237);
  border: 0.1em solid rgb(8, 253, 237);
  padding: 0.5em 1em;
}
.contact-button:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(8, 253, 237);
}
/* ------------- */
/* About */
#about-text {
  width: 80%;
  margin: auto;
}
/* ------------- */
/* Skills */
#skill-comment {
  width: 80%;
  margin: auto;
}
/* ------------- */
/* Cirle Charts */
.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.single-chart {
  width: 33%;
  justify-content: space-around;
}
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 95%;
}
.circle-bg {
  fill: none;
  stroke: rgb(53, 53, 53);
  stroke-width: 1.25;
}
.circle {
  fill: rgb(30, 30, 30);
  stroke-width: 1.5;
  stroke-linecap: round;
}
.circle.active {
  animation: progress 3s ease-out forwards;
  stroke: white;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.percentage {
  fill: rgb(150, 150, 150);
  font-family: sans-serif;
  font-size: 0.34rem;
  text-anchor: middle;
}
/* ------------- */
/* Contact */
#contact-form {
  width: 85vw;
  margin: auto;
}
#contact-form input {
  width: calc(100% - 1.4em);
  height: 1em;
  border: 0.1em solid rgb(53, 53, 53);
  background-color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0.1em 0.5em;
  margin-top: 0.5em;
  color: white;
  border-radius: 0.1em;
}
textarea {
  width: calc(100% - 1.4em);
  height: 15vh;
  border: 0.1em solid rgb(53, 53, 53);
  background-color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0.1em 0.5em;
  margin-top: 0.5em;
  color: white;
  border-radius: 0.1em;
}
textarea:focus,
input:focus {
  outline: 0;
}
.submit-button {
  display: inline-block;
  background-color: rgb(30, 30, 30);
  color: rgb(8, 253, 237);
  border: 0.1em solid rgb(8, 253, 237);
  padding: 1em 2em;
  margin-top: 1em;
}
.submit-button:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(8, 253, 237);
}
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */

/* Top Small - Phone */
@media screen and (max-width: 415px) {
  .fp-tableCell {
    height: calc(100vh - 3rem) !important;
    margin-top: 3rem !important;
  }
  #menu {
    flex-direction: row;
    height: 3rem !important;
    width: 100%;
  }
  .nav-items {
    min-width: calc(100% - 4rem);
  }
  .nav-logo {
    width: 4rem;
    height: 3rem !important;
  }
  #social {
    display: none;
  }
  .nav-items i,
  .nav-items a {
    height: 100%;
    width: 3rem;
  }
  a:hover::before {
    margin: auto;
  }
  #logo-letters {
    font-size: 1.5rem;
  }
  .nav-items a {
    font-size: 1.25rem !important;
  }
}
/* ------------- */
/* Full Screen (Menu Top) */
@media only screen and (max-width: 768px) and (min-width: 416px) {
  .fp-tableCell {
    height: calc(100vh - 4rem) !important;
    margin-top: 4rem !important;
  }
  #menu {
    flex-direction: row;
    height: 4rem;
    width: 100%;
  }
  .nav-items {
    min-width: calc(100% - 4rem);
  }
  .nav-items a {
    font-size: 1.5rem;
  }
  .nav-logo {
    width: 4rem;
    height: 4rem;
  }
  #social {
    display: none;
  }
  .nav-items i,
  .nav-items a {
    height: 100%;
    width: 3rem;
  }
}
/* ------------- */
/* Full Screen (Menu Side) */
@media screen and (min-width: 769px) {
  .fp-tableCell {
    margin-left: 4rem;
  }
  #menu {
    flex-direction: column;
    height: 100vh;
    width: 4rem;
  }
  .nav-logo {
    width: 4rem;
    height: 4rem;
  }
  .nav-items {
    flex-direction: column;
  }
  .nav-items a {
    margin: 0.75rem 0;
    font-size: 1.5rem;
  }
  #social a {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    display: block;
    text-align: center;
  }
}
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* Top Small */
@media screen and (max-width: 415px) {
  #about-text {
    font-size: 2.25vh;
  }
  #skill-comment {
    font-size: 2.25vh;
  }
}
/* Full Screen (Menu Side) */
@media screen and (min-width: 769px) {
  /* About */
  #about-text {
    margin-left: 3rem;
    max-width: 50rem;
  }
  /* Circle Chart */
  .flex-wrapper {
    max-width: 40rem;
    margin-left: 3rem;
  }
  .single-chart {
    width: 33%;
  }
  #skill-comment {
    max-width: 40rem;
    margin-left: 3rem;
    font-size: 0.75em;
    text-align: center;
  }
  /* Contact */
  #contact-form {
    width: 70vw;
    max-width: 40rem;
    margin-left: 3rem;
  }
  textarea {
    height: 25vh;
  }
}
